nav{
    background: #fff;
    padding: 40px 32px 40px 60px;
    .nav-left{
        h1{
            font-weight: 700;
            font-size: 32px;
            color: #3563E9;
            letter-spacing: 1px;
        }
    }
}